# ignore all files in directory
Channel_Simulator/*

# ignore python virtual environment
.venv/*
.venv

# ignore all backup files
*.backup

# ignore logs
log/*

# ignore initial test files
initial_tests/*

# ignore python bytecode
__pycache__/


#ignore filter coefficient files
*.ftr.env

# Drop outdated source files
convolutional_coder_v2.py'
barker_code.py
barker_detection.py

# Ignore plots
hardware_tester_plots/*

# ignore pytest cache
.pytest_cache/